body {
  /*
  background:url(images/flag.svg) no-repeat left bottom;
  background-position: 10% 1rem;
  background-size: 25%;
  */
  font-size: 12pt;
  font-family: Helvetica;
  background-color: lightgray;
  padding: 0 10%;
}

a {
  text-decoration:none
}

h1 {
  margin-top: 1.25em;
  font-size: 150%;
  color: #CF5300;
  text-align: center;
}

h2 {
  font-size: 125%;
  color: #CF5300;
  padding-left: 7%;
}

figure {
  margin: 2em;
}

figcaption {
  margin: 1em;
  text-align: center;
}

img {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

.topnav {
  display: flex;
  justify-content: space-between;
  font-size: 150%;
  padding: 0.5em;
  background-color: black;
  margin: 4rem 0 5rem 4rem;
  border-radius: 7px;
}

.topnav a {
  padding: 0.25em 1.5em;
  margin: 0.25em;
  color: black;
  background-color: white;
  border-radius: 5px;
}


